*
  margin: 0
  padding: 0
  list-style: none
  outline: none
  font-family: 'Roboto', -apple-system, system-ui, sans-serif

body
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-size: 16px

.todo
  display: flex
  // align-items: center
  justify-content: center
  margin: 100px
  border: 1px solid #EEB4B0
  box-shadow: 1px 3px 20px #BFBDBD
  border-radius: 10px

  &__tasks
    flex: 1
    padding: 60px
    height: 100%

  &__sidebar
    background-color: #E6DFDF
    width: 300px
    height: 100%
    border-right: 1px solid #EEB4B0
    border-radius: 10px 0 0 10px
    padding: 60px 20px
    box-sizing: border-box

.button 
  background: #4dd599
  border-radius: 4px
  color: #fff
  border: 0
  padding: 10px 20px
  cursor: pointer
  font-size: 14px

  &:hover 
    background: darken(#4dd599, 6%)
  
  &:active 
    background: darken(#4dd599, 10%)
  
  &:disabled 
    background: #d8d8d8
  
  &--grey 
    background: #f4f6f8
    color: #444444

    &:hover 
      background: darken(#f4f6f8, 3%)

    &:active 
      background: darken(#f4f6f8, 6%)

.field
  padding: 8px 10px
  margin:  5%
  width: 90%
  box-sizing: border-box
  border: 1px solid #7c7c7c
  border-radius: 4px

  &:focus
    border-color: #AB00FF 

